.chat-window {
    width: 400px;
    border: 1px solid black;
    padding: 20px;
}
.messageQueue {
    padding: 0 10px;
    margin: 20px 0;
    height: 300px;
    overflow-y: scroll;
}

.username {
    width: 80px;
}
.message {
    width: 200px;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-errors {
    display: none;
    margin: 10px 0;
    font-size: 10px;
    color: red;
}

.chatMessage {
    height: 25px;
    width: 100%;
}

.floatLeft {
    text-align: left;
}
.floatRight {
    text-align: right;
}